@page "/Profile/{UserId}"
@attribute [Authorize]

@using System.Linq

<h3>ProfileDetails</h3>

@if (PageOwnerUser == null)
{
    <p>Loading data ...</p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <ProfileImageDisplay User="@this.PageOwnerUser" SizeX="150" SizeY="200" />
            </div>
            <div class="col-lg">
                <p>@PageOwnerUser.FirstName @PageOwnerUser.LastName</p>
                <p>Age: @PageOwnerUser.Age</p>

                <p>@PageOwnerUser.Description</p>
            </div>
        </div>

        @if (IsLoggedInUser)
        {
            <p>This is your page.</p>
        }
        else
        {
            if (LoggedInUser.Friends.Any(friend => friend.UserId == PageOwnerUser.UserId))
            {
                <p>This user is already your friend.</p>
            }
            else
            {
                <div class="row">
                    <div class="col-lg-2">
                        <div @onclick="@AddFriendButtonPressed" id="add-friend-button" class="btn btn-dark">Add Friend</div>
                    </div>
                </div>
            }
        }

    </div>
}
